root = true

[*]
end_of_line = lf
insert_final_newline = true

[.editorconfig]
charset = utf-8

[.gitattributes]
charset = utf-8

[*.md]
charset = utf-8

[*.ps1]
charset = utf-8

[*.json]
charset = utf-8

[*.yml]
charset = utf-8

[*.yaml]
charset = utf-8

[*.txt]
charset = utf-8
